:root {
  --text-color: #170F22;
  --grey-color: #4D4459;
  --purple-color: #634688;
  --link-hover: #E89379;
  --background-color: #FFF3F9;
  --font-size: 13pt;
  --font-family: "Helvetica", sans-serif;
  --header-split-left: 27%;
}

@media (max-width:675px) {
	.desktop {
		display: none;
	}
	.outerContainer {
		margin-left: 10px;
		margin-right: 10px;
	}
	.quote {
		width: 100%;
	}
}

@media (min-width:676px) {
	.mobile{
		display: none;
	}
	.outerContainer {
		margin-left: auto;
		margin-right: auto;
	}
	.quote {
		width: 60%;
	}
}

html {
    background-color: var(--background-color);
    background: var(--background-color);
	min-width: 475px;
}

.outerContainer {
    display: absolute;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 650px;
    -webkit-overflow-scrolling: touch;
}


body {
    align-items: center;
    font-family: var(--font-family);
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.nav {
	display: flex;
	list-style: none;
	text-decoration: none;
	font-size: 16pt;
	padding-left: 0;
}

.nav.space-around {
  justify-content: space-evenly;
}

nav {
	text-align: center;
}

a.nav {
    color: var(--purple-color);
	display: table;
	padding-bottom: 1px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


a.nav:after {
	border-bottom: 1px solid;
	content: '';
	display: block;
	width: 0%;
	margin-left: auto;
	margin-right: auto;
    transition: width 1.0s;
}

a.nav:hover:after {
	width: 100%;
	transition: width 1.5s;
}

a.nav.underline:after {
	width: 100%;
}

h1,
h2 {
    text-align: left;
    margin: 0;
	margin-top: -5px;
	color: var(--purple-color);
}

h1 {
    font-size: 20pt;
	font-weight: normal;
}

.header {
  display: flex;
}

div.header a {
  text-decoration: none;
  color: #746A7C;
}

div.header a:hover {
    color: var(--link-hover);
    transition: color 1.5s;
}

.header-img {
  width: var(--header-split-left);
  min-width: 150px;
  padding-right: 15px;
}

.header-bio {
  width: calc(100% - var(--header-split-left));
  margin: 5px auto;
  align-items: right;
  line-height: 25px;
}


.fade { opacity: 0.0;}

.bodytext {
    font-size: 13pt;
    color: var(--text-color);
    line-height: 1.7em;
    font-weight: lighter;
}

.small {
	font-size:11pt;
}

.quote {
	margin: 0px;
    color: var(--grey-color);
}

div.pub {
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.pub p {
	margin-bottom: 10px;
	margin-top: 0px;
}

.pubtitle {
	font-size: 16px;
	line-height: 20px;
}

.coursename {
	font-size: 20px;
}

a {
    color: var(--text-color);
    transition: color 1.5s;
    text-decoration: underline;
}

a:hover {
    color: var(--link-hover);
    transition: color 1.5s;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

*:focus {outline:none !important}
