:root {
  --text-color: #444444;
  /* --link-color: #6d568b; */
  --link-color: #634688;
  --link-hover: #E89379;
  --background-color: #FFF3F9;
  --font-size: 13pt;
  --font-family: "Helvetica", sans-serif;
  --header-split-left: 25%;
  --mobile-width: 600px;
}

@media (max-width:675px) {
	.desktop {
		display: none;
	}
}

@media (min-width:676px) {
	.mobile{
		display: none;
	}
}

html {
    background-color: var(--background-color);
    background: var(--background-color);
	min-width: 475px;
}

body {
    align-items: center;
    font-family: var(--font-family);
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.nav {
	display: flex;
	list-style: none;
	text-decoration: none;
	font-size: 16pt;
}

.nav.space-around {
  justify-content: space-around;
}

nav {
	padding-top: 1em;
	text-align: center;
}

a.nav {
	display: table;
	padding-bottom: 1px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

a.nav:after {
	border-bottom: 1px solid;
	content: '';
	display: block;
	width: 0%;
	margin-left: auto;
	margin-right: auto;
    transition: width 1.0s;
}

a:hover::after {
	width: 100%;
	transition: width 1.5s;
}

h1,
h2 {
    text-align: left;
    margin: 0;
    padding: 5px;
}

h1 {
    font-size: 24pt;
	font-weight: normal;
}

.header {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-img {
  width: var(--header-split-left);
  min-width: 110px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-bio {
  width: calc(100% - var(--header-split-left));
  margin: 5px auto;
  align-items: right;
  line-height: 25px;
}

.outerContainer {
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 610px;
	/* max-width: 600px; */
    -webkit-overflow-scrolling: touch;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fadecontainer{
    max-width: 45em;
    margin: 0 auto;
    padding-top: 1em;
    background: var(--background-color);
}

	.fade { opacity: 0.0;}

.bodytext {
    font-size: 13pt;
    color: var(--text-color);
    line-height: 1.7em;
    font-weight: lighter;
}

.small {
	font-size:11pt;
}

.quote {
	border-bottom: 1px solid #aeaeae;
	padding: 0px;
	margin: 0px;
	width: 90%;
    font-size: 12pt;
    color: var(--text-color);
    line-height: 1.7em;
    font-weight: lighter;
}

div.pub {
    line-height: 1em;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pubtitle {
	font-size: 16px;
}

.coursename {
	font-size: 20px;
}

.bodytext p a {
	color: #6228AE;
}

a {
    color: var(--link-color);
    transition: color 1.5s;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    transition: color 1.5s;
}


div.header a {
  font-weight: 400;
  padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

*:focus {outline:none !important}
